<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./partials/head %>
</head>

<body>
    <!-- We are including the navbar here -->
    <% include ./partials/navbar %>

        <div>

            <h2>Editing:
                <strong>Movies</strong>
            </h2>

            <div class="row clearfix">
                <% movies.forEach(function(movie, index) { %>
                    <div class="col-sm-4">
                        <div class="panel" data-id="<%= movie._id%>">
                            <div class="panel-heading">
                                <h3 class="panel-title">Edit:
                                    <%= movie.title %>
                                </h3>
                                <div class="radiobox">
                                    <input type="radio" name="update">
                                    <label id="update">Update</label>
                                </div>

                            </div>
                            <!-- panel-heading -->
                            <div class="panel-body text-center">
                                <label for="name">Name</label>
                                <input id="name" type="text" class="form-control" value="<%= movie.title %>">

                                <label for="release">Release</label>
                                <input id="release" type="text" value="<%= movie.release %>" class="form-control">

                                <label for="score">Score</label>
                                <input id="score" type="text" value="<%= movie.score %>" class="form-control">

                                <label for="reviewer">Reviewer</label>
                                <input id="reviewer" type="text" value=" <%= movie.reviewer %>" class="form-control">

                                <label for="publication">Publication</label>
                                <input id="publication" type="text" value=" <%= movie.publication %>" class="form-control">
                            </div>
                        </div>
                    </div>
                    <% }) %>
                        <!-- end forEach -->
            </div>
            <!-- .row -->
            <button id="update_button" class="btn btn-primary btn-block">Save</button>

        </div>

</body>

</html>